<div [class]="themeClass" fxFlex fxLayout="column">
  <mat-toolbar fxLayout="row" color="primary" style="background-color: #002c85;"class="mat-elevation-z4">  
    <mat-toolbar-row>
      <div fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="start center">
        <img src="../assets/topbar_logo.png" width="50px" height="50px" alt="XRP Ledger Services Logo">
        <label style="font-weight: bold;">{{title}}</label>  
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar *ngIf="!loadingBackend && !backendAvailable" class="warning-background" fxLayout="row" fxLayoutAlign="center center" ngStyle.xs="font-size: 0.9em; white-space: pre-wrap;">
    <label>Maintenance currently ongoing. We are back soon! Thank you for your understanding!</label>
  </mat-toolbar>

  <mat-card class="mat-card-red" *ngIf="errorLabel" fxLayout="column" fxLayoutGap="0.5em;">
    <label>Sorry that this error happened! Please copy the following error and send it to @XrplServices on twitter or via mail to: info@xrpl.services . Thanks for your help!</label>
    <label>&nbsp;</label>
    <label class="break-words" (click)="copyError()">{{errorLabel}}</label>
    <button mat-button class="xumm-grey-background" aria-label="Copy Error" (click)="copyError()">
      Copy&nbsp;<mat-icon style="font-size: 16px; width: fit-content; height: fit-content;">content_copy</mat-icon>
    </button>
  </mat-card>

  <mat-card class="mat-card-orange floatcenter" *ngIf="loadingData && !issuer_account_info" fxLayout="column" fxLayoutGap="0.5em;" style="margin: 0.5em">
    <label>Loading some things...</label>
    <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
  </mat-card>

  <mat-card class="mat-card-red" *ngIf="!loadingData && !issuer_account_info" fxLayout="column" fxLayoutGap="0.5em;">
    <label>You opened the xApp with an account you don't have full access to. (Read only)</label>
    <label>&nbsp;</label>
    <label>Please close this xApp, navigate to the home screen and switch to the account you want to issue your token from. (Needs to have 'Full Access') Then open the xApp again.</label>
  </mat-card>

  <mat-stepper orientation="vertical" linear #stepper class="theme-background" *ngIf="issuer_account_info && !loadingBackend && backendAvailable">
    <mat-step completed="false" editable="false">
        <mat-card fxLayout="column" fxLayoutGap="0.5em">
            <ng-template matStepLabel>Description</ng-template>
            <label class="xumm-red">To black hole an account means to lose ALL ACCESS to it. You won't be able to recover this access. In fact, NO ONE CAN !</label>
            <label>We will need to execute some transactions in a specific order.</label><br/>

            <mat-card class="mat-card-orange">
              We will charge you {{paymentAmount}} {{paymentCurrency}} for using this service.
            </mat-card>

            <label>The payment is a ONE TIME PAYMENT. So if you pay and then close the app, you would need to pay again!</label><br/>
            <label>Click 'Next' and follow the instructions if you are ready and you know what your are doing!</label>
            <div>
              <button mat-raised-button color="primary" (click)="moveNext()">Next</button>
            </div>
        </mat-card>
    </mat-step>

    <mat-step completed="false" editable="false">
      <mat-card fxLayout="column" fxLayoutGap="1em">
        <ng-template matStepLabel>XRPL account</ng-template>
        <div fxLayout="column" fxLayoutGap="0.5em">
          <label class="description">What is the XRP Ledger account you want to black hole?</label>
          <label *ngIf="issuer_account_info && (issuer_account_info.Account || issuer_account_info.account)">Currently selected:</label>
          <label *ngIf="issuer_account_info && issuer_account_info.Account">{{issuer_account_info.Account}}</label>
          <label *ngIf="issuer_account_info && issuer_account_info.account">{{issuer_account_info.account}}</label>

          <div fxLayoutAlign="start center" style="padding-top: 0.5em;">
            <button mat-raised-button color="primary" (click)="changeBlackholeAccount()" [disabled]="loadingData">{{issuer_account_info && (issuer_account_info.Account || issuer_account_info.account) ? 'Change Account' : 'Sign In' }}</button>
          </div>
        </div>

        <mat-card *ngIf="!loadingData && validIssuer && hasTokenBalance" fxLayout="column" fxLayoutGap="0.5em" class="mat-card-red">
          <label>You still have some tokens in your account. We do not allow you to black hole the account. Please send the token to another account before you start to black hole this one.</label>
          <label style="text-decoration: underline;" (click)="openTokenTrasher()">Alternatively, click here to get rid of them! (Token Trasher xApp)</label>
        </mat-card>

        <mat-card class="mat-card-orange" *ngIf="loadingData" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0.5em">
          <label>Loading...</label>
          <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
        </mat-card>

        <div *ngIf="hasOwnerCount && !hasTokenBalance">
          <mat-checkbox [(ngModel)]="checkBoxIgnoreOwnerCount" [ngClass]="(checkBoxIgnoreOwnerCount ? 'xumm-green': 'xumm-red')">You still hold account objects like Escrows, Offers, Trustlines, etc in your account. PLEASE REMOVE THEM IN ADVANCE! If you black hole your account, they will be inaccessible forever. Please select this checkbox if you are sure you want to continue and lose all access to your account objects.</mat-checkbox>
        </div>
        
        <div fxLayoutGap="0.5em">
            <button mat-raised-button color="primary" [disabled]="!getIssuer() || !validIssuer || hasTokenBalance || loadingData || !checkBoxIgnoreOwnerCount" (click)="moveNext()">Next</button>
            <button mat-raised-button class="xumm-grey-background" (click)="moveBack()">Back</button>
        </div>
      </mat-card>
    </mat-step>

    <mat-step completed="false" editable="false">
      <mat-card fxLayout="column" fxLayoutGap="0.5em">
          <ng-template matStepLabel>Recipient Account</ng-template>
          <div fxLayout="column" fxLayoutGap="0.5em">
            <label class="loading">What is the account you want to send your remaining XRP to?</label>
            <label *ngIf="recipient_account_info && (recipient_account_info.Account || recipient_account_info.account)">Currently selected:</label>
            <label *ngIf="recipient_account_info && recipient_account_info.Account">{{recipient_account_info.Account}}</label>
            <label *ngIf="recipient_account_info && recipient_account_info.account">{{recipient_account_info.account}}</label>

            <div fxLayoutAlign="start center" style="padding-top: 0.5em;">
              <button mat-raised-button color="primary" (click)="signInWithRecipientAccount()" [disabled]="loadingData">{{recipient_account_info && (recipient_account_info.Account || recipient_account_info.account) ? 'Change Account' : 'Choose from XUMM' }}</button>
            </div>
          </div>

          <div style="padding-top: 0.5em;">
            <mat-card class="mat-card-red" *ngIf="recipient_account_info && recipient_account_info.error && recipient_account_info.error == 'actNotFound' && !loadingData">
              <label class="warning">This account is not activated on {{isTestMode ? 'Testnet' : 'Mainnet'}}.</label>
            </mat-card>


            <mat-card class="mat-card-red" *ngIf="recipient_account_info && issuer_account_info && recipient_account_info.Account == issuer_account_info.Account && !loadingData">
              <label class="warning">Issuer and Recipient account can not be the same. Please choose a different Account as recipient of your Token!</label>
            </mat-card>
          </div>

          <mat-card class="mat-card-orange" *ngIf="loadingData" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0.5em">
            <label>Loading...</label>
            <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
          </mat-card>

          <div style="padding-top: 0.5em;" fxLayoutGap="0.5em">
              <button mat-raised-button color="primary" (click)="loadPaymentsAndNext()" [disabled]="!recipient_account_info || !issuer_account_info || !recipient_account_info.Account || loadingData || recipient_account_info.Account == issuer_account_info.Account">Next</button>
              <button mat-raised-button class="xumm-grey-background" (click)="moveBack()" [disabled]="loadingData">Back</button>
          </div>
      </mat-card>
    </mat-step>

    <mat-step completed="false" editable="false">
      <mat-card fxLayout="column" fxLayoutGap="0.5em">
        <ng-template matStepLabel>Payment</ng-template>
        <label>You need to pay the equivalent of {{paymentAmount}} {{paymentCurrency}} with the account you want to blackhole to use this service.</label>
        <div *ngIf="!loadingData" fxLayout="column" fxLayoutGap="0.5em">
          <div  style="padding-top: 0.5em;" *ngIf="!paymentInitiated || paymentNotSuccessfull">
            <div fxLayoutAlign="start center">
              <button mat-raised-button color="primary" [disabled]="loadingData" (click)="payForBlackhole()">
                Pay {{paymentAmount}} {{paymentCurrency}}
              </button>
            </div>
          </div>

          <mat-card class="mat-card-green" *ngIf="paymentInitiated && !paymentNotSuccessfull" fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="start center">
            <i class="material-icons" style="color: green; font-size: 2em;">
                check_circle_outline
            </i>
            <label>Payment received!</label>
          </mat-card>
          
          <mat-card class="mat-card-red" *ngIf="paymentInitiated && paymentNotSuccessfull" style="padding-top: 0.5em;">
            <label>Your payment was not successful on the XRP Ledger {{isTestMode ? 'TEST' : 'MAIN'}} net.</label>
          </mat-card>
        </div>
        
        <mat-card class="mat-card-orange" *ngIf="loadingData" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0.5em">
          <label>Loading...</label>
          <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
        </mat-card>

        <div fxLayoutGap="0.5em">
            <button mat-raised-button color="primary" [disabled]="!getIssuer() || !validIssuer || !paymentInitiated || paymentNotSuccessfull || loadingData" (click)="moveNext()">Next</button>
            <button mat-raised-button class="xumm-grey-background" (click)="moveBack()">Back</button>
        </div>
      </mat-card>
    </mat-step>

    <mat-step completed="false" editable="false">
      <mat-card fxLayout="column" fxLayoutGap="0.5em">
        <ng-template matStepLabel>Black hole account</ng-template>
        <mat-card class="mat-card-orange">
          <label>You are going to "black hole" your account. That means you would not be able to issue more tokens (fixed supply) AND you would lose ALL access to your account!</label>
        </mat-card>
        <div *ngIf="!blackholeDisallowXrp || !blackholeRegularKeySet || !blackholeMasterDisabled">
          <mat-checkbox [(ngModel)]="checkBoxBlackhole1" [ngClass]="(checkBoxBlackhole1 ? 'xumm-green': 'xumm-red')">I understand the implications and want to black hole my account.</mat-checkbox>
          <mat-checkbox [(ngModel)]="checkBoxBlackhole2" [ngClass]="(checkBoxBlackhole2 ? 'xumm-green': 'xumm-red')">In case of an Issuer account: I understand that I can not create more tokens. The supply of my Token will be fixed.</mat-checkbox>
          <mat-checkbox [(ngModel)]="checkBoxBlackhole3" [ngClass]="(checkBoxBlackhole3 ? 'xumm-green': 'xumm-red')">I understand that I will lose access to the account: {{getIssuer()}}. I WON'T BE ABLE TO RECOVER THE ACCESS!</mat-checkbox>
          <mat-checkbox [(ngModel)]="checkBoxBlackhole4" [ngClass]="(checkBoxBlackhole4 ? 'xumm-green': 'xumm-red')">I accept that NO ONE can ever recover access to my account. The account remains inaccessible forever.</mat-checkbox>
        </div>

        <div *ngIf="checkBoxBlackhole1 && checkBoxBlackhole2 && checkBoxBlackhole3 && checkBoxBlackhole4 && (!blackholeRegularKeySet || !blackholeMasterDisabled)" fxLayout="column" fxLayoutGap="0.5em">
          <label>Okay, lets black hole the account!</label>
          <mat-card class="mat-card-orange" fxLayout="column">
            <label>We are going to set the RegularKey of the account to the black hole address: <b>rrrrrrrrrrrrrrrrrrrrBZbvji</b> (Called 'ADDRESS_ONE')</label>
            <label>No one has the secret keys to this account because the address is not derived from a known secret key.</label>
            <label>Additionally we will disallow XRP being sent to your account and disable all other signing methods. This removes ALL access to this account.</label>
          </mat-card>
          
          <mat-checkbox [(ngModel)]="checkBoxBlackhole5" [ngClass]="(checkBoxBlackhole5 ? 'xumm-green': 'xumm-red')">I have read and understand the above text. Let me remove all access to the account: {{getIssuer()}}!</mat-checkbox>
          
          <mat-card class="mat-card-orange" *ngIf="loadingData" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0.5em">
            <label>Loading...</label>
            <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
          </mat-card>

          <div *ngIf="!loadingData" fxLayout="column" fxLayoutGap="0.5em">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0.5em">
              <button mat-raised-button color="primary" (click)="deleteSignerList()" [disabled]="!checkBoxBlackhole5 || !hasSignerList || loadingData">
                Delete Signer List
              </button>
              <div *ngIf="!hasSignerList">
                <i class="material-icons xumm-green" style="font-size: 2em;">
                  check_circle_outline
                </i>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0.5em">
              <button mat-raised-button color="primary" (click)="sendRemainingXRP()" [disabled]="!checkBoxBlackhole5 || hasSignerList || getAvailableBalanceIssuer() <= 1 || loadingData">
                Send remainig XRP to Recipient
              </button>
              <div *ngIf="getAvailableBalanceIssuer() <= 1">
                <i class="material-icons xumm-green" style="font-size: 2em;">
                  check_circle_outline
                </i>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0.5em">
              <button mat-raised-button color="primary" (click)="disallowIncomingXrp()" [disabled]="!checkBoxBlackhole5 || hasSignerList || getAvailableBalanceIssuer() > 1 || blackholeDisallowXrp || loadingData">
                Disallow incoming XRP
              </button>
              <div *ngIf="blackholeDisallowXrp">
                <i class="material-icons xumm-green" style="font-size: 2em;">
                  check_circle_outline
                </i>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0.5em">
              <button mat-raised-button color="primary" (click)="setBlackholeAddress()" [disabled]="!checkBoxBlackhole5 || hasSignerList || getAvailableBalanceIssuer() > 1 || !blackholeDisallowXrp || blackholeRegularKeySet || loadingData">
                Set black hole address as RegularKey
              </button>
              <div *ngIf="blackholeRegularKeySet">
                <i class="material-icons xumm-green" style="font-size: 2em;">
                  check_circle_outline
                </i>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0.5em">
              <button mat-raised-button color="primary" (click)="disableMasterKeyForIssuer()" [disabled]="!checkBoxBlackhole5 || hasSignerList || getAvailableBalanceIssuer() > 1 || !blackholeDisallowXrp || !blackholeRegularKeySet || blackholeMasterDisabled || loadingData">
                Disable MasterKey of XRPL account
              </button>
              <div *ngIf="blackholeMasterDisabled">
                <i class="material-icons xumm-green" style="font-size: 2em;">
                  check_circle_outline
                </i>
              </div>
            </div>
          </div>
        </div>

        <mat-card class="mat-card-green" *ngIf="!hasSignerList && blackholeDisallowXrp && blackholeRegularKeySet && blackholeMasterDisabled" fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="start center">
          <i class="material-icons xumm-green" style="font-size: 3em;">
              check_circle_outline
          </i>
          <label>You have successfully lost all access to the account {{getIssuer()}}</label>
        </mat-card>
      </mat-card>
    </mat-step>
  </mat-stepper>
</div>
